extends layout

block content
  .container#main
    button.btn.btn-default.btn-lg#load-countries Load Countries
    br
    br
    form
      input(type='text', placeholder='Search', id='search-country' class='form-control input-lg')
      input(type='submit', value='Search', id='search' class='btn btn-default btn-lg')
    br
