.container{
    font-size: 12px;
    text-align: center;
}

h2, h3{
	color: brown;
}

.table{
    text-align: center;
}

th, p{
	color: rgba(0,0,0,.6);
}

.overall-stats{
	background: rgba(0,0,0,.01);
}

.stats-table{
	width: 100%;
}

.stats-table td{
	width: 33.334%;
}

.stats-head th{
	text-align: center;
}

.col-head{
    text-align: center;
}

.col-head:hover{
    color: blue;
    cursor: pointer;
}

.filter-click:hover{
	cursor: pointer;
	color: blue;
}

.search-input{
	display: none;
	margin-bottom: 1%;
}

.filter-buttons{
	display: none;
	margin: 1%;
}

li:hover {
	cursor: pointer;
}