extends layout

block content
    h1 Video Voting!
    br
    ul
        li
            a(href='/add') Add new video
        li
            a(href='/vote') Vote on vidoes
        li
            a(href='/videos') View all videos
