extends layout

block content
    h1 Video Voting!
    br
    h4 What would you like to do?
    br
    a(href='/add')
        button.btn.btn-primary.btn-lg Add new video
    br
    br
    a(href='/videos')
        button.btn.btn-success.btn-lg Vote on videos