extends layout

block content
  .container
    if (!user)
      a(href="/login") Login
      br
      a(href="/register") Register
    if (user)
      p You are currently logged in as #{user.username}
      p
        a(href="/logout") Logout
      p
        a(href="/translate") Translate
      p
        a(href="/quiz") Quiz
      p
        a(href="/progress") Progress