extends layout

block content
  .container
    h1 Translate a Word
    hr
    a(href='/') Back home
    br
    br
    .row
      .col-md-3
        h4 Instructions:
        p.ul
          li Pick a language to translate from
          li Pick a language to translate to
          li Enter a word. Press submit.
    br
    .row
      .col-md-2
        h4 Translate From:
        select#languageFrom
          option
          option(data-language='eng') English
          option(data-language='spa') Spanish
          option(data-language='fra') French
      .col-md-2
        h4 Translate To:
        select#languageTo
          option
          option(data-language='eng') English
          option(data-language='spa') Spanish
          option(data-language='fra') French
      .col-md-2
        h4 Enter a word:
        form
          input#translateWord(name="word", type="text", placeholder="Word...")
          br
          br
          button#translate-btn.btn.btn-default Submit
    .row
      div#translated-word
