body {
	margin: 50px;
}

li .quote {
	margin-bottom: 4em;
}

.quote-text {
	font-weight: 200;
	font-size: 2em;
}

.quote-author {
	font-size: 1.5em;
	color: #888;
}

.quote-rating {
	float: left;
}

.quote-delete {
	margin-left: 1em;
	float: left;
}

.quote-controls {
	margin-top: 0.5em;
	float: left;
	overflow: auto;
}

@media (min-width:992px) {
	.quote-controls {
		opacity: 0.3;
	}
}

.quote-controls:hover {
	opacity: 1;
}

.animate-left {
	-webkit-transition: all 0.5s 0.25s;
}

.animate-left-collapsed {
	-webkit-transform: translate(-120%);
	-webkit-transition: all 0.5s;
}

#author-shown {
	position: absolute;
	width: 100%;
}
