extends layout

block content
  .container
    h1 Ready for a test?
    hr
    a(href='/') Back home
    br
    br
    .row
      .col-md-4
        from(role='form')
          select.form-control#selectQuiz
            option
            option.lang-quiz(data-language='eng') English
            option.lang-quiz(data-language='spa') Spanish
            option.lang-quiz(data-language='fra') French
    .row
      ul#quiz.list-group